@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

a {
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  transition: 0.3s all ease 0s;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: black;
}

.img-adaptiv {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.img-adaptiv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.text__sibtitle--hover a:hover {
  text-decoration: underline;
}

.btn {
  width: 300px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  font-weight: 500;
  box-shadow: 1px 1px 0 rgb(255, 255, 255) inset, -1px -1px 0 rgb(255, 255, 255) inset;
  cursor: pointer;
}
.btn_white {
  background-color: #FFFFFF;
  color: #333333;
}
.btn_white:hover {
  background-color: #333333;
  color: #FFFFFF;
}
.btn_dark {
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 1px 1px 0 rgb(0, 0, 0) inset, -1px -1px 0 rgb(0, 0, 0) inset;
}
.btn_dark:hover {
  background-color: #FFFFFF;
  color: #333333;
}
.btn:active {
  transition: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1385px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.container-short {
  max-width: 1154px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__wrapper {
  width: 100%;
  height: 100%;
}
.header__line {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 3.14rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header__inner {
  height: 3.14rem;
  width: 100%;
  position: fixed;
  max-width: 1385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
@media (max-width: 768px) {
  .header__inner {
    width: 100%;
  }
}

.menu {
  z-index: 5;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
@media (min-width: 769px) {
  .menu__list:last-child {
    margin: 0px 20px 0px 0px;
  }
}
.menu__link {
  padding: 15px;
}
.menu__link:hover {
  background-color: #d8d6bf;
}

.logo a {
  padding: 15px 15px 15px 0px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.57rem;
  line-height: 160%;
  color: #333333;
}

.main__test {
  margin: 100px;
}

.burger-open {
  padding: 15px;
  margin: 0px 20px 0px 0px;
  position: relative;
  top: 2px;
}
@media (min-width: 769px) {
  .burger-open {
    display: none;
  }
}

.burger-close {
  padding: 12px 11px;
  margin: 0px 22px 0px 0px;
  position: relative;
}
.burger-close img {
  z-index: 200;
}

.burger {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -1000px;
  left: 0;
  z-index: 10;
}
.burger__list {
  padding: 80px 0px 0px 30px;
  text-align: left;
  background-color: #FFFFFF;
}
.burger__list > *:not(:last-child) {
  margin-bottom: 30px;
}
.burger__list:last-child {
  padding-bottom: 40px;
}
.burger__item {
  text-transform: uppercase;
  font-size: 0.86rem;
  line-height: 160%;
  color: #333333;
}
.burger__item a {
  padding: 15px 0px;
}

.main {
  height: 100%;
  width: 100%;
  margin: 64px 0px 130px 0px;
}
@media (max-width: 768px) {
  .main {
    margin: 64px 0px 40px 0px;
  }
}

.preview {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 28px 0px;
}
@media (max-width: 916px) {
  .preview {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.preview__img {
  position: relative;
  width: 686px;
  max-height: 700px;
  overflow: hidden;
}
@media (min-width: 410px) {
  .preview__img {
    min-width: 410px;
  }
}
.preview__img img {
  width: 100%;
}
.preview__info {
  flex: 0 1 686px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 10.3%;
  margin: 25px;
}
.slider__inner {
  position: relative;
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 100%;
}
.slider__img {
  width: 100%;
  max-height: 80px;
  overflow: hidden;
}

.hidden-slider::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.info {
  padding: 26px 20px;
}
.info__title {
  font-size: 1.29rem;
  line-height: 24px;
  color: #333333;
  font-weight: 600;
  margin: 0px 0px 4px 0px;
}
.info__art {
  font-size: 0.86rem;
  line-height: 16px;
  color: #828282;
  margin: 0px 0px 8px 0px;
}
.info__ratio {
  display: flex;
  margin: 0px 0px 24px 0px;
}
.info__ratio > *:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.info__offers {
  display: flex;
  margin: 12px 0px 30px 0px;
  font-size: 0.86rem;
  line-height: 16px;
  color: #333333;
}
.info__offers > *:not(:last-child) {
  margin: 0px 10px 0px 0px;
}
.info__offers > * {
  height: 24px;
  width: 91px;
  border: 1px solid #333333;
  padding: 4px 8px;
}
.info__form select {
  height: 44px;
  width: 315px;
  border: 1px solid #333333;
  padding: 12px 16px;
  letter-spacing: 0.04em;
}
@media (max-width: 400px) {
  .info__form select {
    width: 100%;
  }
}
.info__define-size {
  margin: 30px 0px 0px 0px;
  text-decoration: underline;
}
.info__list {
  margin: 0px 0px 0px 22px;
}
.info__list > *:hover {
  text-decoration: underline;
}
.info__list > *:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.info__item-info {
  position: relative;
}
.info__item-info::before {
  content: "";
  background-image: url(/src/img/main/preview/Group1.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 16px;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -22px;
}
.info__delivery {
  position: relative;
}
.info__delivery::before {
  content: "";
  background-image: url(/src/img/main/preview/Group2.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 16px;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -22px;
}
.info__pay {
  position: relative;
}
.info__pay::before {
  content: "";
  background-image: url(/src/img/main/preview/pay.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 16px;
  width: 16px;
  height: 16px;
  top: -1px;
  left: -22px;
}

.price {
  display: flex;
  align-items: center;
}
.price__new {
  font-size: 1.71rem;
  line-height: 24px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.04em;
  margin: 0px 12px 0px 0px;
}
.price__old {
  font-size: 1rem;
  line-height: 20px;
  color: #828282;
  text-decoration: line-through;
  line-height: 20px;
}

.purchase {
  margin: 45px 0px 30px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;
}
.purchase__inner {
  display: flex;
  margin: 0px 0px 12px 0px;
  flex-wrap: wrap;
}
.purchase__controls {
  display: flex;
  margin: 0px 12px 0px 0px;
}
.purchase__controls button {
  height: 44px;
  width: 48px;
  background-color: #F2F2F2;
}
.purchase__controls button:active {
  transition: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.purchase__controls input {
  height: 44px;
  width: 48px;
  padding-left: 11px;
  text-align: center;
  background-color: #F2F2F2;
}
.purchase__add button {
  margin: 0px 5px 0px 0px;
  height: 44px;
  width: 251px;
}
@media (max-width: 481px) {
  .purchase__add button {
    margin: 15px 5px 0px 0px;
  }
}
.purchase__favorite button {
  height: 44px;
  width: 44px;
  background-color: #333333;
}
.purchase__favorite:active {
  transition: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 525px) {
  .purchase__favorite {
    margin: 15px 0px 0px 0px;
  }
}
.purchase__click {
  margin: 30px 0px 0px 0px;
  text-decoration: underline;
}

.gallery__show-all {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-decoration: underline;
  text-align: center;
}
.gallery__show-all span {
  cursor: pointer;
}
.gallery__photos {
  display: flex;
  gap: 15px;
}
@media (max-width: 900px) {
  .gallery__photos {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery__main-photo {
  width: 686px;
  max-height: 700px;
  overflow: hidden;
}
.gallery__main-photo img {
  width: 100%;
}
.gallery__set {
  max-width: 686px;
  gap: 13px;
}
.gallery__top-img {
  display: flex;
  gap: 13px;
  margin: 0px 0px 15px 0px;
}
.gallery__bottom-img {
  display: flex;
  gap: 14px;
}
.gallery__img {
  max-height: 336px;
  max-width: 335px;
  position: relative;
  z-index: 5;
}
@media (min-width: 768.5px) {
  .gallery__img:hover {
    background-color: #333333;
  }
}
.gallery__img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}
@media (min-width: 768.5px) {
  .gallery__img img:hover {
    opacity: 0.3;
  }
}
@media (max-width: 768px) {
  .gallery__hover {
    display: none;
  }
}

.hover__top {
  background-image: url("./../img/main/gallery/img-hover/rect.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: 22px;
  width: 22px;
  height: 22px;
  top: 16px;
  right: 29px;
}
.hover__mid {
  background-image: url("./../img/main/gallery/img-hover/cust.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hover__text {
  white-space: nowrap;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  letter-spacing: 0.04em;
}
.hover__likes {
  color: #FFFFFF;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0%;
  left: 50%;
}
.hover__likes::before {
  content: "";
  background-image: url("./../img/main/gallery/img-hover/likes.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -23px;
}

.footer {
  margin: 0px 0px 70px 0px;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__inner > * h3 {
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
  font-size: 1.14rem;
  line-height: 20px;
  color: #333333;
}
.footer__inner > * li:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.customers {
  flex: 0 1 29%;
}
@media (max-width: 645px) {
  .customers {
    flex: 0 1 50%;
  }
}
.customers ul a:hover {
  text-decoration: underline;
}

.about {
  flex: 0 1 29%;
  width: 29%;
}
@media (max-width: 645px) {
  .about {
    padding: 0px 0px 0px 15px;
    flex: 0 1 50%;
  }
}
.about ul a:hover {
  text-decoration: underline;
}

.subscription {
  flex: 0 1 32%;
}
@media (max-width: 645px) {
  .subscription {
    flex: 0 1 100%;
    margin: 50px 0px 0px 0px;
  }
}
.subscription input {
  width: 100%;
  height: 42px;
  padding: 8px;
  border-bottom: 1px solid #C4C4C4;
  margin: 0px 0px 35px 0px;
}
.subscription button {
  display: block;
  width: 150px;
  height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: 0em;
}