@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

* {
   transition: 0.3s all ease 0s;
}

html, body {
   font-family: 'Open Sans', sans-serif;
	font-size: 14px;
   line-height: 1;
   font-weight: 400;
	color: black;
}

.img-adaptiv {
   // padding: 0px 0px 100% 0px;
   overflow: hidden;
   text-align: center;
   position: relative;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
   }
}
.text {
   &__sibtitle--hover {
      a {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.btn {
   width: 300px;
   height: 65px;
   display: flex;
   justify-content: center;
   align-items: center;
   @include style(1rem, 140%, $font_color_light);
   letter-spacing: 0.1em;
   font-weight: 500;
   box-shadow: 1px 1px 0 rgb(255, 255, 255) inset, -1px -1px 0 rgb(255, 255, 255) inset;
   cursor: pointer;
   &_white {
      background-color: $button_color_light;
      color: $font_color_dark;
      &:hover {
         background-color: $button_color_dark;
         color: $font_color_light;
      }
   }
   &_dark {
      background-color: $button_color_dark;
      color: $font_color_light;
      box-shadow: 1px 1px 0 rgb(0, 0, 0) inset, -1px -1px 0 rgb(0, 0, 0) inset;
      &:hover {
         background-color: $button_color_light;
         color: $font_color_dark;
      }
   }
   &:active {
      transition: none;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1385px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}

.container-short {
   max-width: 1154px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}
.hide {
   display: none;
}

.show {
   display: block;
}